
@model Vidly.ViewModels.FilmeViewModel

@{
    ViewBag.Title = "Detalhe";
    var dtLancamentoFormatada = Model.Filme.DataLancamento.ToString("dd/MMM/yyyy");
}

<h2 class="page-header">    
    @Model.Filme.Nome
</h2>

<dl class="dl-horizontal">

    <dt>@Html.DisplayNameFor(m => m.Filme.Descricao)</dt>
    <dd>@Html.DisplayFor(m => m.Filme.Descricao)</dd>

    <dt>@Html.DisplayNameFor(m => m.Filme.Genero.Descricao)</dt>
    <dd>@Html.DisplayFor(m => m.Filme.Genero.Descricao)</dd>

    <dt>@Html.DisplayNameFor(m => m.Filme.DataLancamento)</dt>
    <dd>@Html.DisplayFor( m => dtLancamentoFormatada)</dd>

    <dt>@Html.DisplayNameFor(m => m.Filme.Imdb)</dt>
    <dd>@Html.DisplayFor(m => m.Filme.Imdb)</dd>

    <dt>@Html.DisplayNameFor(m => m.Filme.QtdStock)</dt>
    <dd>@Html.DisplayFor(m => m.Filme.QtdStock)</dd>

    <dt>&nbsp;</dt>
    <dd>&nbsp;</dd>


    <dd>
        @Html.ActionLink("Editar", "MostrarEditar", new { id = Model.Filme.Id }, new { @class = "btn btn-primary" })
        &nbsp;&nbsp;
        @Html.ActionLink("Excluir", "MostrarExcluir", new { id = Model.Filme.Id }, new { @class = "btn btn-danger" })
    </dd>

    <dt>&nbsp;</dt>
    <dd>&nbsp;</dd>

    <dd>
        @Html.ActionLink("Ir Para Filmes", "Index", null, null)
    </dd>
</dl>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#btnExcluir").on("click", function () {
                if (confirm("Deseja excluir @Model.Filme.Nome ?"))
                {
                    $.ajax({
                        type: "GET",
                        url: "/Filmes/Excluir/@Model.Filme.Id",
                        //data: JSON.stringify(Student),
                        //dataType: "json"  
                        //contentType: 'application/json; charset=utf-8',
                        //success: function (data) {
                        //    alert(data);
                        //},
                        success: function (data) {
                            window.location.href = '/Filmes/Index';
                            //alert(data.msg);
                        },
                        //error: function () {
                        //    alert("Error occured!!")
                        //}
                    });
                }                
            });            
        });

    </script>
}