@model Vidly.ViewModels.FilmeViewModel

@{
    ViewBag.Title = "Novo";    
}

<h2 class="page-header">Novo Filme</h2>


@using (Html.BeginForm("Criar", "Filmes"))
{

    @*<div class="form-horizontal">*@

    <div>
        <strong>@Html.ValidationSummary(true, "Preencha os campos obrigatórios", new { @class = "text-danger" })</strong>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Filme.Nome)
        @Html.TextBoxFor(m => m.Filme.Nome, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Filme.Nome)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Filme.Descricao)
        @Html.TextAreaFor(m => m.Filme.Descricao, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Filme.Descricao)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Filme.DataLancamento)
        @Html.TextBoxFor(m => m.Filme.DataLancamento, "{0: dd/MM/yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Filme.DataLancamento)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Filme.GeneroId)
        @Html.DropDownListFor(m => m.Filme.GeneroId, (SelectList)ViewBag.Generos, "(Selecione)", new { @class = "form-control" })
        @*@Html.DropDownListFor(c => c.Cliente.TipoSubscricaoId, new SelectList(Model.TiposSubscricao, "Id", "Nome"), "(Selecione)", new { @class = "form-control" })*@
        @Html.ValidationMessageFor(m => m.Filme.GeneroId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Filme.Imdb)
        @Html.TextBoxFor(m => m.Filme.Imdb, new { @class = "form-control" })
        @* TODO: Colocar control range de 0 a 10, ou validar inteiro em javascript *@
        @Html.ValidationMessageFor(m => m.Filme.Imdb)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Filme.QtdStock)
        @Html.TextBoxFor(m => m.Filme.QtdStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Filme.QtdStock)
    </div>

    @Html.AntiForgeryToken()
    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-success" />
        <text> &nbsp; </text>
        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })

        @*<div class="col-md-offset-1 col-md-2">
                <input type="submit" value="Salvar Filme" class="btn btn-success" />
            </div>*@
    </div>

    @*</div>*@

}

<div>
    @Html.ActionLink("Ir para Filmes", "Index")
</div>
